.gallery{
    display: inline-block;
    border: 3px solid hsl(0, 0%, 60%);
    border-color: grey;
    margin: 5px;
    width: 500px;
    background-color: white;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 2px solid hsl(0, 0%, 20%);
}

.gallery img{
    width: 100%;
    height: auto;
}

.testing {
    display: inline-block;
    border: 3px solid hsl(0, 0%, 60%);
    border-color: grey;
    margin: 5px;
    width: 500px;
    background-color: white;
}
.testing .description{
    padding: 10px;
    text-align: center;
}
p {
    font-size: x-large;
    color: red;
}
body {
    background-color: #F0FFFF;
}
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: red;
    font-size: x-large;
}
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightcyan;
}

.p {
    display: inline-block;
    border: 3px solid hsl(0, 0%, 60%);
    border-color: grey;
    margin: 5px;
    width: 400px;
    background-color: white;
}

.p img{
    width: 100%;
    height: auto;
}